.feedbackFormContainer {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.feedbackFormContainer h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.feedbackForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feedbackForm label {
    font-size: 16px;
    font-weight: 600;
}

.feedbackForm input,
.feedbackForm select,
.feedbackForm textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.feedbackForm textarea {
    height: 100px;
}

.feedbackForm button {
    padding: 10px 20px;
    background-color: #EDD9A3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.feedbackForm button:hover {
    background-color: #c2b285;
}